{% extends "base.html" %}

{% block content %}
        <div id="content">
            <main id="primary" class="site-main">
                <article>
                    <header>
                        <h1 style="margin: auto; width: 70%; padding: 10px;">За нас беше удоволстие да работим по тази задача</h1>
                    </header>
                </article>
                <div style="margin: auto; width: 80%; padding: 10px;">
                    <h2 class="comments-title" style="margin: auto; width: 35%; border: 2px dotted; border-color: green; padding: 10px;">За вас днес скрейпваха:</h2>
                    <ul style="margin: auto; width: 10%; padding: 10px;">
                    	{% for user in us %}
                        <li>{{ user }}</li>
                        <div id="avatar1"></div>
                        <!-- <img src="/static/img/kali.jpg" class="avatar" alt="Avatar"> -->
                        {% endfor %}
                    </ul>
                </div>
            </main>
        </div>
{% endblock %}